:root {
    --grey-blue: #ABBED1;
    --white: #ffffff;
    --primary: #28CB8B;
    --silver: #F5F7FA;
  }

  button{
    background-color: var(--primary);
    padding: 6px 14px;
    border-radius: 6px;
    color: var(--white);
  }

  .green{
    color: var(--primary);
  }

  .silver{
    background-color: var(--silver);
  }